.contacts-menu {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  box-sizing: border-box;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--main-text-color);
  }
  &:focus {
    color: var(--main-bg-color);
  }
  @media screen and (max-width: 480px) {
    font-size: 8vh;
  }
}

.contacts-menu__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--accent-color);
  }
  &:focus {
    color: var(--accent-color);
  }
}

.contacts-menu__link.current {
  color: var(--accent-color);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    background-size: contain;
  }
}

.contacts-menu__linkk {
  font-size: 34px;
  display: flex;
  align-items: center;
  font-weight: 500;

  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--accent-color);
  }
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 320px) and (max-width: 479px) {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.contacts-menu__list {
  display: flex;
  align-items: center;
  margin-left: auto;
  letter-spacing: 0.03em;
  @media screen and (min-width: 480px) {
    margin-top: 32px;
  }
  @media screen and (min-width: 768px) {
    flex-direction: column;
    margin-bottom: 10px;
    letter-spacing: 0.02em;
    font-size: 12px;
    line-height: 14px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    letter-spacing: 0.03em;
  }
}

.contacts-menu__item {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  & :not(:last-child) {
    margin-right: 50px;
  }
}

.contacts-menu__item + .contacts-menu__item {
  margin-left: 30px;
}

.contacts-menu__icon {
  margin-right: 10px;
  fill: currentColor;

  &:hover {
    color: var(--accent-color);
  }
  @media screen and (min-width: 480px) {
    display: none;
  }
}
