/*.team {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin: 15px;
    list-style: none;
  }
  @media screen and(min-width:768px) {
    display: flex;
  }
  @media screen and (min-width: 1600px) {
    display: flex;
  }
}

.team__item {
  @media screen and (min-width: 480px) {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  @media screen and(min-width:768px) {
    flex-basis: calc((100% - 60px) / 2);
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  @media screen and (min-width: 1600px) {
    flex-basis: calc((100% - 90px) / 4);
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.team__title {
  @media screen and (min-width: 1600px) {
    color: var(--main-title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
  }
}
.team__title-text {
  padding-top: 30px;
}

.team__text {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.18;
}

.team {
  display: block;
}
.team__text {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team__title {
  color: var(--main-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 30px;
}
*/
