.address {
  margin-top: 20px;
}
.address__address {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--main-bg-color);
}
.address__link {
  display: flex;
  align-items: center;
  margin-left: auto;

  list-style: none;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (max-width: px) {
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: left;
  }
}

.address__tel {
  display: flex;
  align-items: center;
  margin-left: auto;

  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  justify-content: center;
  color: var(--main-text-color);
  &:hover {
    color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: left;
  }
}
