/*.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}*/
.header {
  border-bottom: 1px solid #ececec;
  position: relative;
  display: flex;
  width: 480px;
  height: 60px;
  display: block;
}
.header__container {
  display: block;
}
