.mobile__button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  line-height: 0;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile__close-button {
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  line-height: 0;
  top: 10px;
  right: 15px;
  fill: currentColor;
  &:hover {
    color: var(--accent-color);
  }
}
.mobile__menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: wheat;
  padding: 48px 40px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    height 250ms cubic-bezier(0.4, 0, 0.2, 1) visibility 250ms
      cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile__menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.icon-menu {
  width: 40px;
  height: 40px;
}
.mobile__close-icon {
  width: 40px;
  height: 40px;
}
.menu__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
