.nav-menu {
  display: none;
  position: absolute;
  top: 10px;
  right: 22px;
  @media screen and (max-width: 480px) {
    display: block;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.nav-menu__logo {
  display: block;
  margin-right: 93px;
  padding-top: 15px;
  padding-bottom: 32px 0;

  font-family: "Raleway", normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-title-color);
}
.nav-menu__logo-web {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  font-family: "Raleway", normal;
}
.nav-menu__logo-st {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  font-family: "Raleway", normal;
  color: var(--main-bg-color);
}
