body {
  font-family: "Roboto", sans-serif;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  color: #757575;
  margin-bottom: 0;
}
h3 {
  font-size: 700;
  color: #212121;
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
address {
  font-style: normal;
}
h2 {
  color: var(--main-bg-color);
}
textarea {
  resize: none;
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
  border-color: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.item * {
  outline: solid #757575;
}
.icon {
  margin-right: 10px;
}
.team-section {
  background: #f5f4fa;
}
.icon {
  margin-right: 10px;
}
.site-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.logo__list-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 7;
  color: var(--main-text-color);
}
.team-our {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--main-title-color);
}
.card-text {
  margin-top: 20px;
}
